.stat-box {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #fff;
}

.stat-box:last-child {
    margin-right: 0px;
}

.stat-box .field-label {
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #777;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
}

.stat-box .field-value {
    font-size: 1.2rem;
    font-weight: 500;
}