.smart-layout {
    .backdrop {
        height: 50vh;
        background: #c94b4b;
        background: linear-gradient(135deg, #4b134f, #c94b4b);
        box-shadow: 0px 1px 20px 5px rgba(0,0,0,0.2);
    }

    .front {
        display: grid;
        grid-template: 6em 1fr / 1fr;
        height: 100vh;
        margin-top: -50vh;
        color: #ffffff;
        
        header {
            display: flex;
            align-items: center;

            .btn-transparent {
                border-width: 0px;
                background-color: transparent;
                margin-left: auto;
                color: #ffffff;
                i {
                    font-size: 2em;
                }
            }

            .btn-back {
                border-width: 0px;
                background-color: transparent;
                color: #ffffff;
                i {
                    font-size: 2em;
                }
            }

            h1 {
                font-size: 1.4em;
                font-weight: 500;
                margin: 0px 0px 3px 1em;
            }

            &.container {
                margin-left: 2em;
                margin-right: 2em;
            }
        
        }

        main {
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
    }
}