.amount-wrapper {
    height: 6em;
    display: flex;
    align-items: center;
    margin: 0 2em;

    .btn {
        background: transparent;
        color: #ffffff;
        border: 0px;
    }

    .amount {
        flex: 1;
        font-size: 3em;
        text-align: center;
    }
}

.number-pad {
    margin: 1em 2em 0 2em;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    box-shadow: 1px 1px 40px 1px rgba(0,0,0,0.1);

    .btn {
        background: #ffffff;
        font-size: 2em;
        padding: 1em;
        border: 1px solid #f3f3f3;
        margin-left: -1px;
        margin-top: -1px;
        box-shadow: inset 0px 0px 15px 0px #f3f3f3;
    }
}